/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 22px;
}

/* Hide default HTML checkbox */
.switch input.darkmode {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input.darkmode:checked + .slider {
	background-color: #2196f3;
}

input.darkmode:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input.darkmode:checked + .slider:before {
	-webkit-transform: translateX(14px);
	-ms-transform: translateX(14px);
	transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

nav > #dark-mode-switch {
	display: flex;
	margin-left: auto;
	margin-right: 16px;
}

nav > #dark-mode-switch > p {
	margin-right: 8px;
}

.dark-mode {
	background-color: #333333;
	color: white;
}

.dark-mode > nav {
	background-color: #333333;
	color: white;
	border-bottom: 2px solid white;
}

.dark-mode > nav a {
	color: white;
}

.dark-mode .nav-logo {
	color: #000;
}

.dark-mode #dark-mode-switch > p {
	color: #000;
}

.dark-mode #tools-section {
	color: #000;
}

.dark-mode #tools-section .tools-head {
	color: white;
}

.dark-mode #tools-section label {
	color: #fff;
}
