* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: "Playfair Display", serif;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	width: 100%;
	height: auto;
}

#header {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid;
	background-color: #fff;
	top: 0;
	position: sticky;
	z-index: 3;
}

ul,
li {
	list-style: none;
}

nav,
main,
footer {
	max-width: 1200px;
	margin: 0 auto;
}

.navbar {
	width: 100%;
}

#first-section,
#carousel-section {
	display: flex;
	flex-direction: column;
}

#first-section {
	align-items: center;
	justify-content: center;
}

h2.heading-2 {
	margin: 20px 0;
	font-size: 46px;
	text-align: center;
}

.full {
	width: 100%;
}

.flex-boxes {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.img-box {
	background: #6b3939;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #aaa;
	border-radius: 20px;
	overflow: hidden;
	max-width: 31%;
	margin-bottom: 10px;
}

.section-padding {
	padding: 100px 15px 40px 15px;
}

.footer {
	padding: 100px 15px 100px 15px;
	font-size: 40px;
}

.logo {
	font-size: 40px;
	font-weight: 700;
	font-style: italic;
}

/* FORM INPUT STYLING */

form {
	width: 500px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-field,
.textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.textarea {
	height: 100px;
}

label {
	display: block;
	margin-bottom: 5px;
}

label[for="message"] {
	position: relative;
	top: -95px;
}

.input-field[type="radio"] {
	width: 15px;
	height: 15px;
	margin-right: 5px;
}

.input-field[type="checkbox"] {
	width: 15px;
	height: 15px;
	margin-right: 5px;
}

.button {
	display: inline-block;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	background-color: #000;
	color: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;
}

.field-group {
	margin-bottom: 20px;
}

.field-group label {
	display: inline-block;
	width: 200px;
}

.field-group .input-field,
.field-group .textarea {
	display: inline-block;
	width: 250px;
}

.field-group .input-field[type="radio"],
.field-group .input-field[type="checkbox"] {
	display: inline-block;
	width: 15px;
	height: 15px;
}

.text-center {
	text-align: center;
}

.form-header {
	font-size: 30px;
	margin-bottom: 20px;
}

.width-500px {
	width: 500px;
}
.width-300px {
	width: 300px;
}
.my-10px {
	margin: 10px 0;
}

.stylish {
	font-weight: bold;
	animation-duration: 3s;
	animation-name: slideinright;
	text-shadow: 2px 2px #222222;
}

.slideinleft {
	animation-duration: 3s;
	animation-name: slideinright;
}

@keyframes slideinright {
	from {
		margin-left: 100%;
		/* width: 300%; */
	}

	to {
		margin-left: 0%;
		/* width: 100%; */
	}
}

@keyframes slideinleft {
	from {
		margin-right: 100%;
		/* width: 300%; */
	}

	to {
		margin-right: 0%;
		/* width: 100%; */
	}
}

#penguin-photos .grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 16px;
	grid-auto-rows: 320px 320px;
}

#penguin-photos .grid-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.object-top {
	object-position: top;
}

.grid-container #item-1 {
	grid-column: 1;
	grid-row: 1 / 2 span;
}

.grid-container #item-2 {
	grid-row: 1;
	grid-column: 2 / 3 span;
}

@media screen and (max-width: 920px) {
	main {
		max-width: 100%;
	}

	form {
		width: 100%;
	}

	label[for="message"] {
		top: 0;
	}

	.flex-boxes .img-box {
		max-width: 48%;
	}
}
@media screen and (max-width: 600px) {
	main {
		max-width: 100%;
	}

	form {
		width: 100%;
	}

	label[for="message"] {
		top: 0;
	}

	.flex-boxes .img-box {
		max-width: 100%;
	}
}
